@page "/GetPlugins"
@using System.Net.Http.Json;
@using System.Text.Json;
@inject NavigationManager NavigationManager;
@inject IHttpClientFactory httpClientFactory
<PageTitle>Get Plugins</PageTitle>
<h3>Get Plugins</h3>

<div>
    @if (pluginHost is null || MasterJson is null || ManifestHost is null || MasterPlugins is null || ManifestPlugins is null)
    {
        <em>Loading...</em>
    }
    else
    {
        @foreach ((MasterPluginEntry masterPluginEntry, int index) in (MasterJson?.Plugins ?? Enumerable.Empty<MasterPluginEntry>()).Select((masterPluginEntry, index) => (masterPluginEntry, index)))
        {
            <div class="@GetItemCssClass(index) w-100 d-flex flex-wrap justify-content-between align-items-center p-2 gap-1">
                <b>@masterPluginEntry.Name</b> (@masterPluginEntry.Platform.ToString()) @masterPluginEntry.Type.ToString()
                <div class="d-flex flex-wrap gap-2">
                    <a href="api/v1/Plugin/@masterPluginEntry.Name/Reload" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank">Load</a>
                </div>
        </div>
        }
    }
</div>

@code {
    private string GetItemCssClass(int index) => index % 2 == 0 ? "even" : "odd";

    private MasterJson? MasterJson { get; set; }
    private ManifestHostJson? ManifestHost { get; set; }
    private IDictionary<string, MasterPluginEntry>? MasterPlugins { get; set; }
    private IDictionary<string, ManifestPluginJson?>? ManifestPlugins { get; set; }
    protected override async Task OnInitializedAsync()
    {
        using (HttpClient httpClient = httpClientFactory.CreateClient())
        {
            httpClient.BaseAddress = new Uri(NavigationManager.BaseUri);

            //MasterJson = await httpClient.GetFromJsonAsync<MasterJson>("https://raw.githubusercontent.com/SpeedRunTool/SRTPlugins/main/master.json", System.Text.Json.JsonSerializerOptions.Default);
            MasterJson = await httpClient.GetFromJsonAsync<MasterJson>("/api/v1/Plugin/DebugMaster", System.Text.Json.JsonSerializerOptions.Default);

            //ManifestHost = await httpClient.GetFromJsonAsync<ManifestHostJson>(MasterJson?.Host.ManifestURL, System.Text.Json.JsonSerializerOptions.Default);
            ManifestHost = await httpClient.GetFromJsonAsync<ManifestHostJson>("/api/v1/Plugin/DebugManifestHost", System.Text.Json.JsonSerializerOptions.Default);

            MasterPlugins = MasterJson?.Plugins.ToDictionary(mpe => mpe.Name, mpe => mpe);

            //ManifestPlugins = MasterPlugins?.ToDictionary(kvp => kvp.Key, (kvp) => httpClient.GetFromJsonAsync<ManifestPluginJson>(kvp.Value.ManifestURL, System.Text.Json.JsonSerializerOptions.Default).GetAwaiter().GetResult());
            ManifestPlugins = new Dictionary<string, ManifestPluginJson?>()
            {
                { "SRTConsumerTest1", httpClient.GetFromJsonAsync<ManifestPluginJson>("/api/v1/Plugin/DebugManifestPlugin", System.Text.Json.JsonSerializerOptions.Default).GetAwaiter().GetResult() }
            };
        }

        await base.OnInitializedAsync();
    }
}