@page "/"
@using SRTPluginBase
@inject PluginHost pluginHost

<PageTitle>Index</PageTitle>

<div>
    @if (pluginHost == null)
    {
        <em>Loading...</em>
    }
    else
    {
        <div class="btn-group btn-group-gap mb-8">
            <span><a href="api/v1/Plugin" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank"><b>Loaded Plugins</b></a></span><br />
            <span><a href="api/v1/Plugin/Reload" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank"><b>Reload Plugins</b></a></span>
        </div>
        @foreach (IPluginStateValue<IPlugin> pluginStateValue in pluginHost.LoadedPlugins.Values)
        {
            <div class="@GetItemCssClass(pluginStateValue) w-100 d-flex flex-wrap justify-content-between align-items-center p-2 gap-1">
                <b>@pluginStateValue.Plugin.TypeName</b>
                <div class="d-flex flex-wrap gap-2">
                    <a href="api/v1/Plugin/@pluginStateValue.Plugin.TypeName/Reload" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank">Reload</a>
                    <a href="api/v1/Plugin/@pluginStateValue.Plugin.TypeName/Info" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank">Info</a>
                    @if (pluginStateValue.Plugin is IPluginProducer)
                    {
                        <a href="api/v1/Plugin/@pluginStateValue.Plugin.TypeName/Data" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank">Data</a>
                    }
                    @foreach (string registeredPage in pluginStateValue.Plugin.RegisteredPages.Keys.Where((RegisteredPagesKey registeredPagesKey) => !registeredPagesKey.Hidden))
                    {
                        <a href="api/v1/Plugin/@pluginStateValue.Plugin.TypeName/@registeredPage" class="btn btn-primary btn-custom-width" rel="noreferrer" target="_blank">@registeredPage</a>
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    private string GetItemCssClass(IPluginStateValue<IPlugin> val)
    {
        var index = Array.IndexOf(pluginHost.LoadedPlugins.Values.ToArray(), val);
        return index % 2 == 0 ? "even" : "odd";
    }
}