@page "/reload"
@using System.Threading.Tasks
@using MudBlazor
@using MudBlazor.Extensions
@using System.Timers;
@inject NavigationManager NavigationManager;

<div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
        <MudText Typo="Typo.h4">Plugin successfully reloaded.</MudText>
        <MudText Typo="Typo.body1">
            Redirecting to the home page in @count @secondsString.
        </MudText>
    </div>
</div>

@code {
    private int count = 5;
    private Timer timer = new Timer(1000);
    private string secondsString = "seconds";

    protected override void OnInitialized()
    {
        timer.Elapsed += TimerElapsed;
        timer.Start();
    }

    private void TimerElapsed(object? sender, ElapsedEventArgs e)
    {
        count--;
        if (count == 1)
            secondsString = "second";
        else if (count == 0)
        {
            timer.Stop();
            NavigationManager.NavigateTo("/", true);
        }
        else
            secondsString = "seconds";

        InvokeAsync(StateHasChanged);
    }
}
