@page "/Settings"
<PageTitle>Settings</PageTitle>

<div class="w-full h-full">
    <MudPaper Class="w-full h-full flex-col gap-4 rounded-none">
        <MudToolBar>
            <h3>Settings</h3>
            <MudSpacer />
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="SaveSettings">
                Save Settings
            </MudButton>
        </MudToolBar>
        <MudCheckBox @bind-Checked="@ShowDebugMenu" Color="Color.Secondary">Show Debug Menu</MudCheckBox>
    </MudPaper>
</div>

@code
{
    public bool ShowDebugMenu { get; set; }

    public void SaveSettings()
    {
        Debugger.Break();
    }

    //Configuration = (IPluginConfiguration)DbLoadConfiguration().ConfigDictionaryToModel<PluginConfiguration>()
    //DbSaveConfiguration(((PluginConfiguration)Configuration).ModelToConfigDictionary());
}