@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="w-full h-full flex flex-col justify-center items-center text-center gap-4">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}