<MudNavMenu Class="h-full">
    <div class="flex flex-col justify-center my-1">
        <MudText Typo="Typo.h6" Class="px-4">SRT Host</MudText>
        <MudText Typo="Typo.body2" Class="px-4">by the SpeedRunTool team.</MudText>
    </div>
    <MudDivider Class="my-2" />
    @* TODO FIX ICONCOLOR *@
    <MudNavLink Icon="@Icons.Material.Filled.Home" IconColor="Color.Surface" Href="" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.GetApp" IconColor="Color.Surface" Href="/GetPlugins" Match="NavLinkMatch.All">Get Plugins</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Settings" IconColor="Color.Surface" Href="/Settings" Match="NavLinkMatch.All">Settings</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.BugReport" IconColor="Color.Surface" Href="/Debug" Match="NavLinkMatch.All">Debug</MudNavLink>
</MudNavMenu>