<MudNavMenu Class="h-full">
    <div class="flex flex-col justify-center my-1">
        <MudText Typo="Typo.h6" Class="px-4">SRT Host</MudText>
        <MudText Typo="Typo.body2" Class="px-4">by the SpeedRunTool team.</MudText>
    </div>
    <MudDivider Class="my-2" />
    <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/GetPlugins" Match="NavLinkMatch.All">Get Plugins</MudNavLink>
    <MudNavLink Href="/Settings" Match="NavLinkMatch.All">Settings</MudNavLink>
    <MudNavLink Href="/Debug" Match="NavLinkMatch.All">Debug</MudNavLink>
</MudNavMenu>